
// Color map
//-----------
$palettes: (
  white: (
    base: #ffffff,
  ),
  black: (
    base: #000000,
    100: #161616
  ),
  grey: (
    100: #212121,
    200: #4d4d4d,
    300: #686a6d,
    400: #838589,
    500: #9e9fa5,
    600: #ccc,
    700: #ddd,
    800: #F0F0F0,
    900: #fafafa
  ),
  cyan: (
    base: #D4F7FF
  ),
  red: (
    base: #DC143CFF
  )
);

$brand-primary-color: palette(cyan, base);
$brand-secondary-color: palette(grey, 700);
$brand-light-grey: palette(grey, 800);
$brand-error: palette(red, base);
$bg: pallete(grey, 800);

// Fonts
//-----------
$primary-font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
$secondary-font-family: "Quicksand", "Helvetica", "Arial",
  sans-serif;
$base-font-size: 14px;
$base-line-height: 1.4em;

// Spaces
//-----------
$base-space: 8px;

