
// Color map
//-----------
$palettes: (
  white: (
    base: #ffffff,
  ),
  black: (
    base: #000000,
    100: #161616
  ),
  grey: (
    100: #212121,
    200: #4d4d4d,
    300: #686a6d,
    400: #838589,
    600: #e6e6e6,
    700: #FCFCFC,
    800: #F0F0F0,
    900: #fafafa
  ),
  cyan: (
    base: #D4F7FF
  ),
  red: (
    base: #DC143CFF
  )
);

$brand-primary-color: palette(cyan, base);
$brand-secondary-color: palette(grey, 700);
$brand-light-grey: palette(grey, 800);
$brand-error: palette(red, base);
$bg: pallete(grey, 800);


// Black opacity
//-----------
$black-87: rgba(0, 0, 0, 0.87);
$black-54: rgba(0, 0, 0, 0.6);
$black-37: rgba(0, 0, 0, 0.37);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);
$black-4: rgba(0, 0, 0, 0.04);

// Fonts
//-----------
$primary-font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
$secondary-font-family: "Quicksand", "Helvetica", "Arial",
  sans-serif;
$base-font-size: 14px;
$base-line-height: 1.4em;

// Grid
//-----------
$maxwidth: 980px;

// Spaces
//-----------
$base-space: 8px;
$base-space-between-records: $base-space;

// Border radius
//---------------
$border-radius-s: 5px;
$border-radius: 5px;
$border-radius-m: 10px;
$border-radius-l: 25px;
$border-radius-rounded: 50em;

// Input size
//-----------
$input-size: 40px;

// Buttons
//-----------
$button-height: 30px;
$button-radius: 6px;

// topbar
$topbarHeight: 56px;

// sidebar
$sidebarPanelWidth: 280px;
$sidebarMenuWidth: 70px;
$sidebarWidth: $sidebarPanelWidth + $sidebarMenuWidth;
